.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
public/storage
public/uploads
.env
.env.*
!.env.docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
docker-compose*.yml
DEPLOYMENT.md
deploy
tests
